.text-green {
    color: #5E9B2D !important;
}
.text-blue{
    color: #2E65C3 !important;
}
.bg-white{
    background-color: #fff;
}
.bg-cream{
    background-color: #F7F8F3;
}
.text-grey{
    color: #474D6A !important;
}
.text-purple{
    color: #7F47DD;
}
.fw-600{
    font-weight: 600;
}
.fw-500{
    font-weight: 500;
}
.fw-400{
    font-weight: 400 !important;
}
.text-header{
    color: #262638 !important;
    font-weight: 500;

}
.text-red{
    color:  #EB6A5A !important;
}
.history-btn {
    padding: 5px 3px;
    width: 28px;
    height: 28px;
    border: 1px solid var(--Label-Outline, #DDDDEA);
    color: #717B9E;
    background-color: #fff;
    margin-right: 6px;
    span{
        font-size: 20px;
        // line-height: 1.3;
    }
    &:hover{
        background: linear-gradient(90deg, #2E65C3 0%, #7F47DD 100%);
    }
}
.gig-history-btn {
    display: flex;
    width: 35px;
    height: 35px;
    border: 1px solid var(--Label-Outline, #DDDDEA);
    color: #717B9E;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    span{
        font-size: 20px;
    }
    &:hover{
        background: linear-gradient(90deg, #2E65C3 0%, #7F47DD 100%);
    }
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;color:#262638;}
.box-shadow-main{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
}
.m-b-12{
    margin-bottom: 12px;
}

// gap css here 
.gap-0-20{
    gap: 0 20px;
}
.gap-0-16{
    gap: 0 16px;
}
.gap-0-12{
    gap: 0 12px;
}
.gap-12-0{
    gap: 12px 0;
}
.gap-8-16{
    gap: 8px 16px !important;
}
.gap-10{
    gap: 10px;
}
.gap-8{
    gap: 8px;
}
.gap-10-16{
    gap: 10px 16px;
}
.gap-10-20{
    gap: 10px 20px;
}
// margin css
// margin-bottom 
.m-b-10{ margin-bottom: 10px !important;}
.m-b-20{ margin-bottom: 20px !important;}