:root {
    --primary-text: #262638;
    --secondary-text: #474D6A;
    --purple-text: #7F47DD;
    --Purple-Main: #7F47DD;
    --placeholder-color: #717B9E;
    --input-border: #DDDDEA;
    --toastify-color-light: #ccccd8 !important;
    --toastify-text-color-light: #262638 !important;
    --cream-color: #F7F8F3;
    --label-color: #717B9E;
    --grey-color:#717B9E99;
    --red-color:#E74C3C;
    --white-color:#FFF;
}