@font-face {
    font-family: Inter-Thin;
    font-weight: 100;
    src: url(../assets/fonts/Inter-Thin.ttf) format('ttf');
}

@font-face {
    font-family: Inter-ExtraLight;
    font-weight: 200;
    src: url(../assets/fonts/Inter-ExtraLight.ttf) format('ttf');
}

@font-face {
    font-family: Inter-Light;
    font-weight: 300;
    src: url(../assets/fonts/Inter-Light.ttf) format('ttf');
}

@font-face {
    font-family: Inter-Regular;
    font-weight: 400;
    src: url(../assets/fonts/Inter-Regular.ttf) format('ttf');
}

@font-face {
    font-family: Inter-Medium;
    font-weight: 500;
    src: url(../assets/fonts/Inter-Medium.ttf) format('ttf');
}

@font-face {
    font-family: Inter-SemiBold;
    font-weight: 600;
    src: url(../assets/fonts/Inter-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: Inter-Bold;
    font-weight: 700;
    src: url(../assets/fonts/Inter-Bold.ttf) format('ttf');
}

@font-face {
    font-family: Inter-ExtraBold;
    font-weight: 800;
    src: url(../assets/fonts/Inter-ExtraBold.ttf) format('ttf');
}

@font-face {
    font-family: Inter-Black;
    font-weight: 900;
    src: url(../assets/fonts/Inter-Black.ttf) format('ttf');
}