// header scss

.header-wrapper {
  &.header-section {
    position: fixed;
    top: 0;
    left: 0;
    height: 62px;
    z-index: 999;
    width: 100%;
    background: #ffffff;
    transition: .2s;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  }

  .header-content {
    // width: 100%;
    // background-color: #fff;
    // height: 62px;
    // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    // position: fixed;
    // width: 100%;
    // z-index: 99;
    // padding: 0px;
    // vertical-align: middle;
    // transition: .3s;


    .burger {
      display: flex;
      justify-content: space-between;

      // .icon-img {
      //   transition: all 0.5s ease;
      // }
    }

    // .menu-bell-img {}
  }
}



// sidebar scss
.navbar-menu {
  // height: 100vh;
  // background-color: #fff;
  // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.10);
  // transition: all 0.2s ease;
  // position: fixed;
  // top: 0;
  // left: 0px;
  // width: 250px;
  // height: 100%;
  // z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  z-index: 999;
  transition: transform 0.3s ease;
  /* Add a smooth transition effect */
  background-color: #fff;
  border-right: 1px solid #e8e8e8;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);

  .main-logo {
    padding: 18px 0;
    img {
      max-width: 215px;
      width: 100%;
      margin-left: 18px;
      margin-top: 15px;
    }
  }

  .main-logo-round {
    img {
      max-width: 65px;
      /* width: 100%; */
      margin-left: 6px;
      margin-top: 13px;
    }
  }
}

.burger {
  .icon-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .notification {
    background-color: #E74C3C;
    color: #fff;
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 12px;
    position: relative;
    left: 28px;
  }
}

.burger img {
  padding: 13px 8px 0px 0px;
  cursor: pointer;
}

.burger {
  .menu-bell-img {
    padding-right: 31px;
  }
}

.navbar__list {
  list-style-type: none;
  padding: 0;
  margin: 0 16px;
}

.bell-wrap {
  position: relative;
}

.navbar__li {
  // display: inline-block !important;
  padding: 0px 0px 0px 12px;
  position: relative;
  top: 2.5px;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.14px;
  text-transform: capitalize;
  color: var(--secondary-text);
}

// .navbar__li-box:first-child {
//   margin-top: 53px;

// }

.navbar__li-box {
  height: 43px;
  margin-top: 15px;
  padding: 7px 12px;
}

.navbar__li-box:hover {
  // border-left: 7px solid var(--input-border);
  cursor: pointer;
}

.sidebar-dropdown {
  .dropdown-toggle {
    border-radius: 3px;
    border: 1px solid #DDDDEA;
    background: #fff;
    background-color: transparent;
    color: var(--secondary-text);
    margin: 20px 16px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      background-color: transparent;
      border: 1px solid #DDDDEA;
      color: var(--secondary-text);
    }

    &:focus-visible {
      box-shadow: none
    }

    &::after {
      display: none;
    }

    .name-logo {
      border-radius: 50%;
      background: linear-gradient(90deg, #2E65C3 0%, #7F47DD 100%);
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.28px;
      width: 34px;
      min-width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .full-name {
      color: var(--secondary-text);
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.28px;
      padding-left: 10px;
      // text-wrap: wrap;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100px;
    }
  }

  .dropdown-menu {
    &.show {
      max-width: 218px;
      width: 100%;
      border: transparent;
      padding-top: 0px;
    }

    .dropdown-item {
      color: var(--secondary-text);
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.28px;
      border-radius: 3px;
      background: var(--FFF, #FFF);
      // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding-bottom: 16px;

      &:first-child {
        padding-top: 16px;
      }

      .dropdown-icon {
        background-color: var(--purple-text);
        color: #454760;
        font-size: 14px;
        width: 38px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.28px;
        padding: 6px;
        border-radius: 50%;
        margin-right: 10px;
      }

    }

    a {
      text-decoration: none;
    }
  }
}

.header-content {
  .icon-img {
    img {
      padding-left: 280px !important;
    }
  }
}

.main-logo-round {
  display: none;
}

.main-logo {
  display: block;
}

.sidebar-dropdown {
  display: block;
}

.sidebar-dropdown {
  &.sidebar-dropdown-section {
    &.small-screen-dropdown {
      display: none;
    }
  }
}

// .sidebar-dropdown { 
//   &.small-screen-dropdown {
//     display: none;
//   }

// }

.sidebar-active {

  .main-logo-round {
    display: block;
  }

  .main-logo {
    display: none;
  }

  .sidebar-dropdown {
    &.sidebar-dropdown-section {
      display: none;
    }

  }

  .sidebar-dropdown {
    &.sidebar-dropdown-section {
      &.small-screen-dropdown {
        display: block;
      }
    }

  }

  .header-content {
    .icon-img {
      img {
        padding-left: 100px !important;
      }
    }
  }

  .navbar-menu {
    width: 80px !important;
  }

  .navbar__list {
    .navbar__li-link {
      position: relative;

      // .navbar__li {
      //   left: 40px !important;
      //   display: none;
      //   background-color: #000 !important;
      //   // color: #fff !important;
      //   white-space: nowrap;

      //   &::before {
      //     left: -12px;
      //     top: 7px;
      //     position: absolute;
      //     content: "";
      //     width: 0;
      //     height: 0;
      //     border-top: 6px solid transparent;
      //     border-right: 12px solid #000;
      //     border-bottom: 6px solid transparent;


      //   }
      // }
      .navbar__li {
        display: none;
      }

      // &:hover{
      //   .navbar__li {
      //     display: block !important;
      //   }
      // }
    }
  }

  .sidebar-dropdown-section {
    .dropdown-toggle {
      border: transparent;
      padding: 15px 2px;

      &:active {
        border: transparent;
      }
    }
  }

  #layout-container {
    margin-left: 60px;
    padding-left: 40px;
    padding-right: 20px;

  }
}

// .sidebar-active {
//   transform: translateX(0); /* Show sidebar when active */
// }

a {
  text-decoration: none;
}